* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  background: linear-gradient(180deg, #af67e9 0%, #6565e7 74.8%);
}

img {
  display: block;
  max-width: 100%;
}

.l-big-container {
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 7.5rem 1.5rem 1.5rem 1.5rem;
}
@media screen and (min-width: 49em) {
  .l-big-container {
    padding: 0;
  }
}

.faq {
  position: relative;
  width: 100%;
  max-width: 500px;
  padding: 1rem 1.5rem;
  background: white;
  border-radius: 24px;
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 26em) {
  .faq {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 49em) {
  .faq {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 921px;
    padding-top: 4.56rem;
    padding-right: 5.6875rem;
    padding-bottom: 5.8125rem;
    padding-left: 0;
    background-image: url(../../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -33.5rem -14rem;
    background-size: cover;
  }
  .faq::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 191px;
    height: 184px;
    content: "";
    background: url(../../images/illustration-box-desktop.svg) no-repeat;
    transform: translate(-55%, 125%);
  }
}
.faq__img {
  position: absolute;
  top: -110px;
  left: 0;
  width: 100%;
}
.faq__img .box,
.faq__img .women {
  display: none;
}
.faq__img .mobile {
  margin: 0 auto;
}
@media screen and (min-width: 49em) {
  .faq__img {
    position: relative;
    top: 0;
    left: 0;
    max-width: 480px;
    height: 100%;
    overflow: hidden;
  }
  .faq__img .mobile {
    display: none;
  }
  .faq__img .women {
    position: relative;
    left: -17%;
    display: block;
  }
}
.faq__content {
  margin-top: 7rem;
}
@media screen and (min-width: 49em) {
  .faq__content {
    margin-top: 0;
  }
}
.faq__header {
  --fs-header: 2rem;
  font-size: var(--fs-header);
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.025em;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 26em) {
  .faq__header {
    font-size: calc(var(--fs-header) + 0.5rem);
  }
}
@media screen and (min-width: 49em) {
  .faq__header {
    text-align: left;
  }
}
@media screen and (min-width: 49em) {
  .faq__header {
    margin-bottom: 1rem;
  }
}

.accordion__item {
  border-bottom: 1px solid #e7e7e9;
}
.accordion__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.1rem 0 1rem 0;
  color: #4a4b5e;
  cursor: pointer;
}
.accordion__title > img {
  transition: all 0.3s linear;
  transform: rotate(0);
}
.accordion__title:hover {
  color: #f47c57;
}
.accordion__label {
  --fs-label: 0.8125rem;
  font-size: var(--fs-label);
  font-weight: normal;
  display: inline-block;
  cursor: pointer;
}
@media screen and (min-width: 26em) {
  .accordion__label {
    font-size: 1rem;
  }
}
.accordion__label:hover {
  color: #f47c57;
}
.accordion__body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s linear;
}
.accordion__body p {
  --fs-desc: 0.75rem;
  font-size: var(--fs-desc);
  font-weight: normal;
  max-width: 35ch;
  margin-bottom: 1rem;
  line-height: 1.6;
  color: #787887;
  letter-spacing: -0.2px;
}
@media screen and (min-width: 26em) {
  .accordion__body p {
    font-size: 0.9375rem;
  }
}
@media screen and (min-width: 26em) {
  .accordion__body p {
    max-width: 45ch;
  }
}
@media screen and (min-width: 49em) {
  .accordion__body p {
    padding-right: 0.5rem;
  }
}
.accordion__title-active > .accordion__label {
  font-weight: bold;
  color: #1d1e35;
}
.accordion__title-active > img {
  transform: rotate(180deg);
}
.accordion__title-active + .accordion__body {
  max-height: 9em;
  opacity: 1;
  transition: all 0.3s linear;
}

/*# sourceMappingURL=style.css.map */
